@* @{
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}
@model IEnumerable<Admin>

<form method="post">
    <div class="col-12">

        <input asp-for="Rid" type="hidden" id="id" class="form-control" />
        <label asp-for="Name"></label><br />

        <input asp-for="Name" class="form-control" /><br />
        <label asp-for="Email"></label><br />

        <input asp-for="Email" class="form-control" /><br />
        <label asp-for="Password"></label><br />

        <input asp-for="Password" class="form-control" /><br />
        <label asp-for="Type"></label><br />

        <input asp-for="Type" class="form-control" /><br />
        <label asp-for="Status"></label><br />

        <input asp-for="Status" class="form-control" /><br />
        @* <button type="submit" class="btn btn-success" asp-action="Edit" asp-controller="Category">Create</button> *@
@*     </div>
</form> *@ 

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using mvc3Project.Models
@model IEnumerable<Register>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header bg-primary">
                    <h3 class="card-title text-white">Registered Users</h3>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Rid</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Type</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center text-danger">
                                        No records found
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
